@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", serif;
  
  --color-brand-beige: #F5F1EA;
  --color-brand-cream: #FDFBF7;
  --color-brand-amber: #D4A373;
  --color-brand-dark: #2D241E;
  --color-brand-muted: #4A3F35;
}

@layer base {
  body {
    @apply bg-brand-cream text-brand-muted font-sans antialiased;
  }
}

.text-balance {
  text-wrap: balance;
}
